body {
    background-image: url("assets/fondovinotinto.jpg");
    background-size: cover;       
    background-position: center;  
    background-repeat: no-repeat; 
    height: 100vh;
    margin: 0;
}

a {
    font-size: 2rem;     
    font-weight: bold;
    display: block;
    color: white;
}

h1 {
    font-size: 4rem;
    font-weight: bold;
    color: white;      
    text-align: center;  
    margin-bottom: 20px; 
    letter-spacing: 2px; 
}


.container {
    display: flex;
    height: 100vh;
}

.left {
    width: 50%;
    padding: 40px;
}

.right {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cover {
    width: 300px;
}

#escena2 {
    background-image: url("assets/fondo2.png");
}
#escena2 h1,
#escena2 a {
    color: black;
}
iframe {
    width: 560px;
    height: 315px;
    display: inline-block;
    margin: 20px auto;
}
.imagenes {
    position: relative;
    width: 100%;
    height: 100vh;
}

.img-left {
    position: absolute;
    left: 10%;
    top: 50%;
    transform: translateY(-50%);
    width: 250px;
}

.img-right {
    position: absolute;
    right: 10%;
    top: 50%;
    transform: translateY(-50%);
    width: 250px;
}
#escena3 h1,
#escena3 a {
    color:white;
}

#escena3 p,
#escena a {
    color:white;
}
#bg-gif {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}
#escena4 {
    background-image: url("assets/fondonuncahesidohonesto.jpg");
}
#escena4 h1,
#escena4 a {
    color: white;
}
#escena4 p,
#escena4 a {
    color: white;
}
.nunca {
    position: absolute;
    left: 10%;
    top: 70%;
    transform: translateY(-50%);
    width: 250px;
}
#escena5 {
    background-image: url("assets/Cayendo.jpg");
}
#escena5 h1,
#escena5 a {
    color: grey;
}
#escena5 p,
#escena5 a {
    color: grey;
}
#escena6 {
    background-image: url("assets/Más humano.jpg");
}
#escena6 h1,
#escena6 a {
    color: white;
}
#escena6 p,
#escena6 a {
    color:white;
}
#escena7 {
    background-image: url("assets/fondo7.png");
}
#escena7 h1,
#escena7 a {
    color: black;
}
#escena7 p,
#escena7 a {
    color:black;
}
#escena8 {
    background-image: url("assets/peromeestoyacabando.jpg");
}
#escena8 h1,
#escena8 a {
    color: white;
}
#escena8 p,
#escena8 a {
    color:white;
}
#escena9 {
    background-image: url("assets/quevamosahacer.jpg");
}
#escena9 h1,
#escena9 a {
    color: white;
}
#escena9 p,
#escena9 a {
    color:white;
}
#escena10 {
    background-image: url("assets/yosiemprecontesto.jpg");
}
#escena10 h1,
#escena10 a {
    color: white;
}
#escena10 p,
#escena10 a {
    color:white;
}
#escena11 {
    background-image: url("assets/fondo11.png");
}
#escena11 h1,
#escena11 a {
    color: black;
}
#escena11 p,
#escena11 a {
    color:black;
}
#escena12 h1,
#escena12 a {
    color: white;
}
#escena12 p,
#escena12 a {
    color:white;
}